{% extends 'main\temp_page.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="worldMenu">
    {% load static %}
    <script src="{% static 'js\main.js' %}"></script>
    <button onclick="openMenu()" class="menuButton">
        <img src="{% static 'img/buttons/menuButton.jpg' %}" />
    </button>

    <div class="menu" id="menuOptional">
        <p>Menu</p>
    </div>
</div>


<div class="worldMap" id="worldMap">
    {% load static %}
    <script src="{% static 'js\mapMaker.js' %}"></script>
    <script src="{% static 'js\mapPageSettings.js' %}"></script>
</div>

{% endblock %}