<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фэнтезийный мир</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
</head>
<body>
    <header>
        <h1>Фэнтезийный мир</h1>
    </header>
    <main>
        <section id="map">
            </section>
        <section id="characters">
            <h2>Персонажи</h2>
            <ul>
                </ul>
        </section>
        <section id="creatures">
            <h2>Существа</h2>
            <ul>
                </ul>
        </section>
    </main>
    {% load static %}
    <script src="{% static 'js\map.js' %}"></script>
</body>
</html>
